nav#navbar.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top.py-1
  div.container-fluid.px-4 
    a#brand.navbar-brand.d-flex.align-items-center(href="#home") DWD
    button(type='button' 
           data-bs-toggle='collapse'
           data-bs-target='#navbarCollapse'
           aria-controls='navbarCollapse' 
           aria-expanded='false'
           aria-label="Toggle navigation").navbar-toggler
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      .navbar-nav
         a.nav-link(href='#projects' alt='Projects') Projects
         a.nav-link(href='#about-me' alt='About Me') About Me
         a.nav-link(href='#certificates' alt='Certs') Certificates
         a.nav-link(href='/misc/online-resume.pdf' alt='resume') Resume
  //div#line1.style-lines.line1-move
  //#line2.style-lines.line2-move
  // <a class="nav-link" href="#contact" alt="Contact">Contact</a>